.exercise {
    padding-left: 2em;
    border: 1px solid;
    border-color: #ffffff;
    /* color: #ffffff; white*/
    color: #696969; /* dark grey*/
    /* background-color: #26a69a; dark teal*/
    /*background-color: #96D3CE; medium teal*/
    background-color: #FDAB9F;
    /* background-color: #D3EDEA; */

}

details:hover {
    cursor: pointer;
    /*background-color: #696969;*/
    color: #74BDCB;
}
