book/*.rds
/_book/
/*.swp
.Rproj.user
.Rhistory
/book/_bookdown_files
*.html
Reproducible-Research-in-R.*
*.csv
book/example/*.csv
book/example/*.txt
book/*.csv
book/*.txt
book/examples/libs
book/examples/multi_page_report_files
